### task 1

In [1]:
10 < 100

True

In [2]:
100 != 100

False

In [3]:
50 >= 50

True

### task 2

In [11]:
age = 21  

is_under_18 = age < 18
is_under_21 = age < 21
is_under_31 = age < 31

print(f"Is the age under 18?:{is_under_18}")
print(f"Is the age under 21?: {is_under_21}")
print(f"Is the age under 31?: {is_under_31}")

Is the age under 18?:False
Is the age under 21?: False
Is the age under 31?: True

### task 3

In [5]:
"a"<"b"

True

In [6]:
"b"<"a"

False

In [7]:
"John"<"Terry"

True

In [8]:
"john"<"Terry"

False

In [9]:
[1,2,3]<[1,2,3]

False

In [10]:
[1,2,2]<[1,2,3]

True

### task 4

In [12]:
5<10.2

True

In [13]:
5<"Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [14]:
5<"5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [15]:
5=="5"

False

### task5

In [16]:
age=input("Enter your age: ")
18==age

Enter your age: 19

False

In [17]:
age=30
age>=18 and age<=65
age<18 or age>65
not age>18

False

In [18]:
age= 30
(age >=18 and age <=65 )and (not age== 30)

False

### task 6

In [19]:
weight_check = 100 < weight < 200
height_check = 131 < height < 160

print(weight_check)
print(height_check)

NameError: name 'weight' is not defined

### task 7

In [20]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
"jane" in names

False

In [21]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
"Mark" not in names

True

In [22]:
message = "Hello there, my name is John"
"xyz" in message

False

### task 8

In [23]:
age = 21
if 18<= age <= 30:
    print("You are still young!")
else:
    print("You are not in the age range of 18 to 30.")

You are still young!

### task 9

In [24]:
age = 35

if age > 100:
    print("You are very old.")
    print("Well done!")
elif age > 80:
    print("You are fairly old.")
    print("Pretty good!")
elif age > 40:
    print("You are middle-aged.")
    print("Never mind.")
elif 30 <= age <= 40:
    print("You are in your thirties.")
    print("Enjoy this phase of your life.")
else:
    print("You are not very old - yet.")

You are in your thirties.
Enjoy this phase of your life.

### task 10

In [25]:
total = 42  
if total != 0:
    print("Total is non-zero")
else:
    print("Total is zero")

Total is non-zero

### task 11

In [26]:
print("You are an adult") if age >= 18 else print("You are not an adult, yet!")

You are an adult

### task 12

In [27]:
names = ["Alice", "Bob", "Charlie", "David"]

for name in names:
    print(name)

Alice
Bob
Charlie
David

### task 13

In [28]:
for i in range(2, 11, 2):  
    result = i ** i
    print(f"{i} to the power of {i} = {result}")

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

### task 14

In [29]:
numbers = [10, 20, 30, 90, 200, 30, 22, 11]

running_total = 0

for num in numbers:
    running_total += num
    print(f"Current running total: {running_total}")

Current running total: 10
Current running total: 30
Current running total: 60
Current running total: 150
Current running total: 350
Current running total: 380
Current running total: 402
Current running total: 413

### task 15

In [30]:
 numbers = [10, 20, 30, 90, 200, 30, 22, 11]
 
 running_total = 0

for num in numbers:
    running_total += num
    print(f"Current running total: {running_total}")

    if num > 100:
        print(f"Breaking the loop because {num} is over 100.")
        break

Current running total: 10
Current running total: 30
Current running total: 60
Current running total: 150
Current running total: 350
Breaking the loop because 200 is over 100.

### task 16

In [31]:
numbers = [10, 20, 30, 90, 200, 30, 22, 11]

running_total = 0

for num in numbers:
    running_total += num
    print(f"Current running total: {running_total}")

    if num > 100:
        print(f"Breaking the loop because {num} is over 100.")
        break
else:
    print("All numbers processed")

Current running total: 10
Current running total: 30
Current running total: 60
Current running total: 150
Current running total: 350
Breaking the loop because 200 is over 100.